body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
canvas {
  width: 800px;
  height: 800px;
  background-color: white;
  border: none;
  border-radius: 20px;
}
#btns,
#colors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.color {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  transition: ease-in-out 0.1s;
}
.color:hover {
  transform: scale(1.2);
}
button,
label,
#text {
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: medium;
  align-items: center;
  background-color: royalblue;
  color: white;
  transition: opacity linear 0.1s;
  text-align: center;
  border: none;
  border-radius: 20px;
}
button:hover,
label:hover {
  opacity: 0.6;
}
#text {
  background-color: white;
  color: royalblue;
}
#file {
  display: none;
}
